<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81598889948-c04kqo7cg49kr7th0gnv74bqdsd56c9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81598889948-c04kqo7cg49kr7th0gnv74bqdsd56c9l</string>
	<key>API_KEY</key>
	<string>AIzaSyDIt-s7XYlO_Sf3yp7pE-dMqgpM9zPDLcc</string>
	<key>GCM_SENDER_ID</key>
	<string>81598889948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.platoun.ios</string>
	<key>PROJECT_ID</key>
	<string>platoun-9be50</string>
	<key>STORAGE_BUCKET</key>
	<string>platoun-9be50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81598889948:ios:73d8d920561829c3069919</string>
	<key>DATABASE_URL</key>
	<string>https://platoun-9be50.firebaseio.com</string>
</dict>
</plist>