<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313529836343-kqcf892srcipb81h79ssv5hbjcgd5c63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313529836343-kqcf892srcipb81h79ssv5hbjcgd5c63</string>
	<key>API_KEY</key>
	<string>AIzaSyBLT7zqlFT8yHgndZ5JVWmjaolUm8i5bIg</string>
	<key>GCM_SENDER_ID</key>
	<string>313529836343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.platoun.ios.dev</string>
	<key>PROJECT_ID</key>
	<string>platoundev</string>
	<key>STORAGE_BUCKET</key>
	<string>platoundev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313529836343:ios:8ced55d23ee73d2de870b2</string>
	<key>DATABASE_URL</key>
	<string>https://platoundev.firebaseio.com</string>
</dict>
</plist>